.App {
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: #F4F6F6;
 height: 100vh;
 padding: 0 20px;
}

.title {
  padding-top: 16px;
}

.input-box,
.title {
  padding-bottom: 30px;
}

form {
  max-width: 500px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 6px;
}

input {
  display: block;
  padding: 10px;
  width: 100%;
}

input:focus {
   border: 2px solid #2ECC71;
   outline: none;
}

.error-msg {
  color: #A60907;
  padding-top: 6px;
}

input[type="submit"] {
  cursor: pointer;
  background-color: #58D68D;
  max-width: 100px;
  margin: 0 auto;
}

input[type="submit"]:hover {
  background-color: #2ECC71;
  font-weight: 600;
}